.unity-foldout__toggle {
    background-color: rgb(62, 62, 62);
    margin-left: 0;
    margin-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-bottom-width: 0.25px;
    border-top-width: 1px;
    border-top-color: rgb(0, 0, 0);
    padding-bottom: 2px;
    padding-top: 2px;
}

.unity-foldout__content {
    display: flex;
    opacity: 1;
}

.unity-foldout__text {
    -unity-font-style: bold;
}
