.unity-list-view__reorderable-handle {
    display: none;
    overflow: visible;
    visibility: visible;
}

.unity-list-view__reorderable-item__container {
    padding-left: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.unity-scroll-view__content-container {
    display: flex;
    visibility: visible;
    overflow: visible;
    opacity: 1;
}

.unity-scroll-view {
    background-color: rgba(0, 0, 0, 0);
}
